body{

margin:0;
font-family:Arial;
color:white;
text-align:center;

background:linear-gradient(270deg,#000000,#001f3f,#003366,#000000);
background-size:600% 600%;
animation:bgMove 12s infinite;

}

@keyframes bgMove{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

header{

padding:20px;

}

.nav{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
padding:10px;

}

button{

background:#0a84ff;
color:white;
border:2px solid #4da6ff;
padding:10px 15px;
font-weight:bold;
border-radius:8px;
cursor:pointer;

}

button:hover{

background:#0066cc;

}

.section{

display:none;
padding:20px;

}

img{

width:250px;
max-width:80%;
border-radius:10px;
margin:10px;

}

.quizQ{

background:rgba(0,0,0,0.5);
padding:15px;
margin:10px;
border-radius:10px;

}
